.card-widget {

  .title-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    h3 {
      font-size: 1.25rem;
      font-weight: 600;
      line-height: 1.125;
    }

    .button.is-circle {
      height: 1.5rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
}
