.is-list {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 10;
  }

  .switch-block {
    padding: 0;
    .text span {
      font-size: 0.875rem;
      top: 1px;
    }
  }

  .form-switch {
    i {
      width: 24px;
      height: 16px;
      border-radius: 16px;

      &::before {
        width: 20px;
        height: 12px;
        border-radius: 6px;
      }

      &::after {
        width: 12px;
        height: 12px;
        border-radius: 6px;
      }
    }

    &:active {
      i::after {
        width: 12px;
        transform: translate3d(calc(var(--transform-direction) * 2px), 2px, 0);
      }

      input {
        &:checked + i::after {
          transform: translate3d(calc(var(--transform-direction) * 10px), 2px, 0);
        }
      }
    }

    input {
      position: absolute;
      opacity: 0;
      pointer-events: none;

      &:checked + i {
        &::before {
          transform: translate3d(calc(var(--transform-direction) * 18px), 2px, 0)
            scale3d(0, 0, 0);
        }

        &::after {
          transform: translate3d(calc(var(--transform-direction) * 10px), 2px, 0);
        }
      }
    }
  }
}
