.device-form.form-layout {
  margin: 0 auto;

  .form-fieldset {
    max-width: none;
  }

  .fieldset-heading.flex {
    display: flex;
    align-items: center;

    .button.is-circle {
      margin-left: 1rem;
      height: 1.5rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }

  .field {
    .button.is-circle {
      margin-top: 7px;
      width: 1.5rem;
      height: 1.5rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }

  .index-field {

    .control > label {
      margin-inline-start: 0.54rem;
      color: white;
      line-height: 38px;
    }
  }


  .form-outer {
    .form-body {
      padding: 0 20px;

      &.is-nested {
        padding-bottom: 20px;
      }
    }

    .form-header {
      h4 {
        font-weight: 600;
      }
    }

    & + .form-outer {
      margin-top: 20px;
    }
  }

  .form-fieldset.seperator {
    border-bottom: 1px dashed var(--dark-sidebar-light-14);
  }

  .field.is-horizontal {
    .label {
      margin-right: 10px;
      margin-top: 3px;
    }
  }

  .form-fieldset-nested {
    padding: 0 20px 20px;

    &.is-tail {
      padding-bottom: 0;
    }

    .form-fieldset {
      padding-top: 0;
    }
  }

  .collapse-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    .collapse-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      width: 30px;
      background: var(--white);
      border-radius: var(--radius-rounded);
      border: 1px solid transparent;
      transition: all 0.3s; // transition-all test

      > span {
        display: block;
        height: 16px;
        width: 16px;
      }

      svg {
        height: 16px;
        width: 16px;
        color: var(--light-text);
      }
    }
  }

  .collapse-form {
    .fieldset-heading {
      margin-bottom: 0 !important;
      transition: 0.3s ease-in-out;
    }

    &[open] {
      .collapse-header {
        .collapse-icon {
          transform: rotate(calc(var(--transform-direction) * 180deg));
        }
      }

      .fieldset-heading {
        margin-bottom: 20px !important;
      }
    }

    &[open] {
      .collapse-icon {
        border-color: var(--fade-grey-dark-3) !important;
        box-shadow: var(--light-box-shadow);
      }
    }
  }

  .field.has-addons {
    .field-addon-body {
      .control:first-child {
        flex-grow: 1;

        button {
          width: 100%;
          justify-content: flex-end;

          &::after {
            content: ':';
            font-weight: bold;
            margin-inline-start: 8px;
            transform: translateY(-1px);
          }
        }
      }

      .control:last-child {
        flex-basis: 80px;
      }
    }
  }
}

.is-dark {

  .device-form.form-layout {

    .input[readonly],
    .textarea[readonly] {
      background-color: var(--dark-sidebar-light-10);
      border-color: var(--dark-sidebar-light-10);
    }
  }

  .collapse-form {
    &[open] {
      .collapse-header {
        .collapse-icon {
          background: var(--dark-sidebar-light-2);
          border-color: var(--dark-sidebar-light-4) !important;
        }
      }
    }

    .collapse-header {
      .collapse-icon {
        background: var(--dark-sidebar-light-6);
        border-color: var(--dark-sidebar-light-6);
      }
    }
  }
}
