a:focus-visible {
  outline: none;
}

.control.in-form {
  .form-switch {
    margin-top: 5px;
  }
}

.is-dark {
  .multiselect .multiselect-single-label .select-label-text {
    color: var(--light-text);
  }
}
