.vso-form-upload {
  .file-label {
    width: 100%;
  }

  .file-name {
    flex: 1;
    max-width: none;
  }
}

.icon-wrap.is-tt-icon {
  img {
    border-radius: none;
  }
}

.icon-wrap.is-small.is-tt-icon {
  img {
    max-width: 60% !important;
  }
}

.icon-wrap.is-medium.is-tt-icon {
  img {
    max-width: 50% !important;
  }
}
